@model Integrador.Models.Service;
   

@{
}

<center>
    <div class="dashboard-list container">
        <h3> <b>Service List</b></h3>
        <table class="manage-table">
            <tbody>
                


            </tbody>
        </table>
    </div>
</center>
